<form [formGroup]="logIn" (ngSubmit)="onLogInSubmit()">

  <h5 *ngIf="success">Your form is valid!</h5>

  <label>
    Email:
    <input type="email" formControlName="email">
    <div *ngIf="submitted && logIn.controls.email.errors" class="error">
      <div *ngIf="logIn.controls.email.errors.required">Entrer votre e-mail</div>
    </div>
  </label>

  <label>
    Password:
    <input type="password" formControlName="password">
    <div *ngIf="submitted && logIn.controls.password.errors" class="error">
      <div *ngIf="logIn.controls.password.errors.required">Entrer votre mot de passe</div>
    </div>
  </label>

  <button type="submit" value="Connexion">Connexion</button>
  <button type="submit" class="btn btn-success" routerLink="/adduser">S'inscrire</button>

</form>
